html,
body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
}

form{
    text-align: center;
    margin: 2em;
    padding: 1em;
}

input {
    text-align: center;
    font-size: 15px;
    width: 200px;
    padding: 0.4em;
    /* background-color: rgb(204, 177, 120); */
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(36, 33, 33);
    border-radius: 5px;
}

#suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#suggestions div {
    width: 200px;
    cursor: pointer;
    /* background-color: rgb(204, 177, 120); */
    background-color: rgb(255, 255, 255);
    font-size: inherit;
    padding: 0.05em;
    border-bottom: 2px solid rgb(36, 33, 33);
    border-left: 2px solid rgb(36, 33, 33);
    border-right: 2px solid rgb(36, 33, 33);
}

section {
    text-align: center;
    /* background-color: rgba(194, 151, 99,0.7); */
    background-color: rgba(255, 255, 254, 0.7);
    margin: 2em 10em;
    padding: 2em;
    border-radius: 20px;
}

#root {
    margin-top: 6em;
    width: 60vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

label {
    font-weight: 700;
}

#fav_btn {
    position: absolute;
    top: 2.5em;
}

button {
    width: 30px;
    height: 30px;
    background-color: aqua;
    border-radius: 5px;
    margin-left: 5px;
}

#fav_list {
    background-color: aqua;
    height: 20px;
    width: 150px;
    position: absolute;
    right: 1em;
    top: 7em;
}