html,
body,
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
ol, ul, li {list-style:none;display:block;}
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;}

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    font-family: 'Montserrat', sans-serif;
}

form{
    text-align: center;
    margin: 2em;
    padding: 1em;
}

input {
    text-align: center;
    font-size: 15px;
    width: 200px;
    padding: 0.4em;
    background-color: rgb(204, 177, 120);
}

#suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#suggestions div {
    width: 200px;
    cursor: pointer;
    background-color: rgb(204, 177, 120);
    font-size: inherit;
    padding: 0.05em;
}

section {
    text-align: center;
}